.dropbtn {
 background-color: #bdbebd;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
 width: 100%;
}

.dropdown {
 position: relative;
 display: inline-block;
}

.dropdown-content {
 opacity: 0;
 position: absolute;
 top: 100%;
 left: 0;
 width: 100%;
 transform: translateY(-2em);
 z-index: -1;
 transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
  z-index 0s linear 0.01s;
 background-color: #b8b8b8;
}

.dropdown-content a {
 color: white;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-content a:hover {
 background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
 display: flex;
 flex-direction: column;
 width: 100%;
 visibility: visible; /* shows sub-menu */
 opacity: 1;
 z-index: 1;
 transform: translateY(0%);
}

.dropdown:hover .dropbtn {
 background-color: #c0c0c0;
}
